<div class="container">
    <div class="pageproduct">
        <div class="way">
            <div class="wayway">
                <a href="index.html">Главная</a>
                <pre> </pre>
                <p>/</p>
                <pre> </pre>
                <a href="swing_gates.html">Распашные ворота</a>
            </div>
        </div>


        <div class="listofproduct">
            <div class="num1">
                <img src="~/Content/image/swinggates.jpg">

                <div class="product_content1">
                    <h3>Ворота из сэндвич панелей</h3>
                    <h4>характеристика</h4>
                    <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                    <p>Длина - 23423423</p>
                    <p>ширина -23423432</p>
                    <p>высота - 324234</p>
                    <!-- <p class="cost">цена 12435 евро</p> -->
                </div>
            </div>


            <div class="num2">
                <img src="~/Content/image/swinggates.jpg">
                <div class="product_content2">
                    <h3>Ворота из профнастила</h3>
                    <h4>характеристика</h4>
                    <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                    <p>Длина - 23423423</p>
                    <p>ширина -23423432</p>
                    <p>высота - 324234</p>
                    <!-- <p class="cost">цена 12435 евро</p> -->
                </div>
            </div>
        </div>

        <div class="seotext">
            <p>SEOTEXT</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>


    </div>
</div>