@model bool
@{
    Layout = "AdminLayout.cshtml";
}



<div>
    <p>
        @ViewBag.Message 
        @if (Model)
        {
            @Html.ActionLink("Пожалуйста нажмите здесь для входа.", "Login", "Webmaster", routeValues: null, htmlAttributes: new { id = "loginLink" })
        }
    </p>
</div>
