<div class="container">
    <div class="pageproduct">
        <div class="automation">
            <div class="way">
                <div class="wayway">
                    <a href="index.html">Главная</a>
                    <pre> </pre>
                    <p>/</p>
                    <pre> </pre>
                    <a href="swing_gates.html">Автоматика для гаражных ворот</a>
                </div>
            </div>


            <div class="listofproduct">
                <div class="num1">
                    <img src="~/Content/image/swinggates.jpg">

                    <div class="product_content1">
                        <h3>came</h3>
                        <h4>описание</h4>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                        <p class="cost">цена 12435 евро</p>
                    </div>
                </div>


                <div class="num2">
                    <img src="~/Content/image/swinggates.jpg">
                    <div class="product_content2">
                        <h3>nice</h3>
                        <h4>описание</h4>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                        <p class="cost">цена 12435 евро</p>
                    </div>
                </div>

                <div class="num3">
                    <img src="~/Content/image/swinggates.jpg">
                    <div class="product_content3">
                        <h3>faac</h3>
                        <h4>описание</h4>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                        <p class="cost">цена 12435 евро</p>
                    </div>
                </div>

                <div class="num4">
                    <img src="~/Content/image/swinggates.jpg">
                    <div class="product_content4">
                        <h3>an motors</h3>
                        <h4>описание</h4>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                        <p class="cost">цена 12435 евро</p>
                    </div>
                </div>

                <div class="num5">
                    <img src="~/Content/image/swinggates.jpg">
                    <div class="product_content5">
                        <h3>comunello</h3>
                        <h4>описание</h4>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed -do eiusmod tempor incididunt ut labore et dolore magna -aliqua. Ut enim ad minim veniam, quis nostrud exercitation - </p>
                        <p class="cost">цена 12435 евро</p>
                    </div>
                </div>
            </div>

            <!-- <div class="seotext">
                       <p>SEOTEXT</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                   </div>
            -->

        </div>
    </div>
</div>