<div class="container">
    <div class="feedbackform">
        <div class="way">
            <div class="wayway">
                <a href="/">Главная</a>
                <pre> </pre>
                <p>/</p>
                <pre> </pre>
                <a href="/@ViewBag.Method">@ViewBag.Desc</a>
            </div>
        </div>
        <div class="h2">
            <h2>@ViewBag.Result</h2>
        </div>
    </div>
</div>
