<div class="container">
    <div class="partnerspage">
        <div class="way">
            <div class="wayway">
                <a href="/">Главная</a>
                <pre> </pre>
                <p>/</p>
                <pre> </pre>
                <a href="#">Наши партнеры</a>
            </div>
        </div>

        <div class="container">
            <div class="h2">
                <h2>Наши партнеры</h2>
            </div>
        </div>

        <div class="listofpartners">

            <div class="partner1">
                <div class="img">
                    <!— new class for image —>
                    <img src="~/Content/image/ALUTECH.png">
                </div>
                <p>Группа компаний «АЛЮТЕХ» – лидер рынка роллетных систем, ведущий производитель секционных ворот в Восточной Европе. Группа компаний «АЛЮТЕХ» объединяет 6 производственных предприятий и более 25 сбытовых компаний в Чехии, России, Беларуси, Украине, Германии, Австрии.Все предприятия Группы компаний оснащены высокотехнологичным оборудованием, которое позволяет производить продукцию, соответствующую всем европейским стандартам качества. Это линия по производству сэндвич-панелей для секционных ворот; Система менеджмента качества на всех предприятиях сертифицирована на соответствие требованиям Международного стандарта ISO 9001 в системе TUV CERT.</p>

            </div>

            <div class="partner2">
                <div class="img">
                    <!— new class for image —>
                    <img src="~/Content/image/HORMANN.png">
                </div>
                <p>Немецкий концерн Hörmann является крупнейшим в Европе производителем и поставщиком гаражных и промышленных ворот, приводов, коробок и дверей различного назначения, а также перегрузочной техники. Основой корпоративной философии являются многолетний опыт под знаком инноваций, гарантированное качество и ориентация на потребности заказчиков. Управление концерном Hörmann, основателем которого является г-н Август Хёрманн, на сегодняшний день осуществляют его внук г-н Томас Й. Хёрманн, и правнуки г-н Мартин Й. Хёрманн и г-н Кристоф Хёрманн, т.е. третье и четвертое поколения.</p>
            </div>

            <div class="partner3">
                <div class="img">
                    <!— new class for image —>
                    <img src="~/Content/image/CAME.png">
                </div>
                <p>С 1972 года CAME производит широкий ассортимент автоматики для въездных, гаражных и промышленных ворот, автомобильных парковок и систем контроля доступа, а также занимается разработкой систем "умный дом" и охранных сигнализаций. Компания CAME нацелена на поиск инновационных решений и освоение новых сфер специализации, поэтому постоянно развивается и покупает новые бренды. На ее счету многолетний опыт работы на международном рынке и уникальные ноу-хау в сфере глобального управления домом, которое осуществляется с помощью автоматики, охранных систем и системы домашней автоматизации.</p>
            </div>

            <div class="partner4">
                <div class="img">
                    <!— new class for image —>
                    <img src="~/Content/image/FAAC.png">
                </div>
                <p>Гордость компании FAAC – это не просто символ “made in Italy” (сделано в Италии). В основе продукции компании – уникальные технологии мирового уровня и изобретения в сфере автоматики, рождённые в Италии, и ставшие теперь доступными для всех. 1800 человек, 32 филиала на 5 континентах, более 80 официальных дилеров в мире: эти цифры позволяют понять явление компании FAAC Group в процессе непрерывного роста.</p>
            </div>

            <div class="partner5">
                <div class="img">
                    <!— new class for image —>
                    <img src="~/Content/image/NICE.png">
                </div>
                <p>Компания Nice является лидером в области автоматизации въездных, гаражных и промышленных секционных ворот, а также роллет и маркиз. Инновационная концепция, широкий спектр применения, передовые технологии и революционный дизайн – это те качества, которые отличают продукты Nice. Множество распространенных на сегодняшний день решений было внедрено компанией Nice и лишь затем применено другими производителями</p>
            </div>
        </div>
    </div>
</div>


